.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10px;
}

.SubTitle {
    font-size: 20px;
    font-weight: 500;
}

.EditorArea {
    padding: 10px;
    overflow-y: scroll
}

.hr {
    margin-top: 5px;
    margin-bottom: 6px;
}

.grey {
    color: #444444;
}

.EditorForm {
    display: flex;
    flex-direction: column;
}

.DefaultEditor {
    display: flex;
    flex-direction: column;
}

.text {
    width: 100%;
}

.ColorPicker {
    display: flex;
    flex-direction: row;
}

.BgColor > label {
    min-width: fit-content;
}

input, button, select {
    cursor: pointer;
    border: none;
    background-color: #222222;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    height: 25px;
    margin-right: 2px;
    margin-left: 2px;
}

input:hover, input:focus, button:hover {
    background-color: #333333;
}

input:active, button:active {
    background-color: #444444;
}

.ShapeListElement {
    list-style: none;
    display: flex;
    cursor: move;
    user-select: none;
}

.Input {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.Input > input {
    flex: 1;
    min-width: 50px;
}

.DoubleInput {
    width: 100%;
    display: flex;
}

.DoubleInput > .Input {
    width: 50%;
}

.Input > input {
    flex: 1;
    min-width: none;
}

.Input > label {
    margin-right: 2px;
}

.RadioInput {
    display: flex;
    flex-direction: row;
}

.RadioInput > input {
    margin-right: 5px;
    margin-left: 5px;
}

.Margin {
    margin-top: 2px;
    margin-bottom: 2px;
}

.DoubleInputPrintMode {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.DoubleInputPrintMode > .Format {
    width: auto;
}

.ColorPicker {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
}

.ColorPicker > .ColorAngle {
    flex: 1;
    min-width: 50px;
}

.Picker {
    flex: 1;
}

.FontPicker {
    display: flex;
    flex-direction: row;
}

.FontPicker > * {
    margin-right: 5px;
}