* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.MainContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 110px); /*Should only be 100px but for some reason there is extra space at the bottom which makes the scrollbar appear*/
}

.Canvas {
    height: 100%;
    width: auto;
    border: 1px solid black;
}

.CanvasArea {
    width: auto;
    min-width: 35%;
    text-align: center;
}

.EditorArea {
    width: auto;
    min-width: 30%;
}

.split {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
    cursor: col-resize;
}

.EditorForm {
    display: flex;
    flex-direction: column;
}

.ShapesDiv {
    
}

.ShapeListElement {
    list-style: none;
    display: flex;
    cursor: move;
    align-items: center;
}