* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: #111111;
    color: #eeeeee;
}

.MainContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh); /*Should only be 100px but for some reason there is extra space at the bottom which makes the scrollbar appear*/
}

.Canvas {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid black;
}

.CanvasArea {
    width: auto;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EditorArea {
    width: auto;
}

.split {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.gutter {
    background-color: #222222;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
    cursor: col-resize;
}